{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Navbar-background animation</title>
<link rel="stylesheet" href="/staticfiles/homeapp/style.css">
</head>
<body>
  <header>
    <div class="nav-list">
      <div class="overlay"></div>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Shop</a></li>
        <li><a href="#">Portfolio / works</a></li>
      </ul>
    </div>
  </header>
  <script src="{% static 'app.js' %}"></script>

</body>
</html>
